* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* --------------
top banner styles
------------------ */
.container {
    background-color: #161616;
    display: flex;
    width: 75%;
    height: 420px;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px 40px 0px 40px;
    border-radius: 30px;
}

.head-content {
    justify-content: center;
}

.top-banner {
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 60px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 200px;
    color: #FFFFFF;
    line-height: 70px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    padding-bottom: 30px;
}

.watch-live-button {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
}

.banner-image img {
    width: 90%;
    height: 100%;
}

.banner-image img:hover {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: transform 5s;
}

/* ----------------
main section styles
 -------------------*/
.main-part {
    display: flex;
    width: 75%;
    height: 1200px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.form {
    height: 250px;
    width: 250px;
    background-color: #161616;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.button {
    text-decoration: none;
    text-align: center;
    color: #161616;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.select-button {
    background-color: #DD0000;
    color: #FFFFFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.blog {
    border: 1px solid rgba(199, 196, 196, 0.63);
    border-radius: 10px;
}

.blog img {
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}

.blog-details {
    display: inline-block;
    padding-left: 15px;
}

.blog a {

    text-decoration: none;
    color: #161616;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #161616;
    border-radius: 5px;
}

.blog h3 {
    display: inline-block;
    color: #161616;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.blog span {
    display: inline-block;
    margin-top: 10px;
}

.blog .fa-message {
    padding-left: 30px;
}

.view-all {
    display: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background: #DD0000;
    color: #FFFFFF;
    width: 80px;
    border-radius: 5px;
}

/* -----------
 footer styles
  -------------*/
.footer-part {
    width: 100%;
    height: 290px;
    background-color: #161616;
}

.footer-title {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    padding-top: 30px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.footer-info {
    display: flex;
    color: #B9B9B9;
    line-height: 24px;
    justify-content: center;
    font-family: 'Poppins';
    margin-left: auto;
    margin-right: auto;
}

.footer-info div {
    font-weight: 500;
    padding: 30px;
}

.social-links {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.icon {
    margin: 0 14px;
    color: white;
    font-size: 25px;
}